// 모바일
.header {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  z-index: 1;
  background: rgba($color: #111, $alpha: 0.7);
  font-size: 20px;
  padding: 10px;
}

.gap {
  height: 40px;
}

@media only screen and (min-width: 600px) {
  // 패드
}

@media only screen and (min-width: 768px) {
  // PC
}
