// 모바일
.mainOverlay {
  position: relative;
  text-align: center;
  color: white;
  height: calc(85vh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    margin: 0.5rem;
    font-size: 3rem;
    font-weight: 700;
    position: relative;
    animation-name: goingUp;
    animation-duration: 1s;
    opacity: 1;
    @keyframes goingUp {
      0% {
        top: 5rem;
        opacity: 0;
      }
      100% {
        top: 0;
        opacity: 1;
      }
    }
  }
  h2 {
    font-size: 2rem;
    font-weight: 400;
    margin: 0.5rem;
    position: relative;
    animation-name: goingUp;
    animation-duration: 2s;
    opacity: 1;
    @keyframes goingUp {
      0% {
        top: 5rem;
        opacity: 0;
      }
      50% {
        top: 5rem;
        opacity: 0;
      }
      100% {
        top: 0;
        opacity: 1;
      }
    }
  }
  h2:hover {
    transform: scale(1.1);
    transition: 0.1s;
  }
}

.marketOverlay {
  background: #012326;
  color: #fff;
  padding: 3rem 1rem;
  h2 {
    margin: 1rem;
    font-size: 3rem;
  }
  h3 {
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
  }
  button {
    display: block;
    margin: 1rem;
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    background: #273d59;
    color: #fff;
    font-weight: 700;
  }
}

.videoOverlay {
  background: #081a40;
  color: #fff;
  padding: 3rem 1rem;
  h2 {
    margin: 1rem;
    font-size: 3rem;
  }
  h3 {
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
  }
  button {
    display: block;
    margin: 1rem;
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    background: #273d59;
    color: #fff;
    font-weight: 700;
  }
}

@media only screen and (min-width: 768px) {
  // 패드
  .mainOverlay {
    height: calc(85vh - 4rem);
  }
}

@media only screen and (min-width: 1024px) {
  // PC
  .mainOverlay {
    height: calc(100vh - 4rem);
  }
}
