// 모바일
.titleOverlay {
  margin: 0;
  padding: 4rem 1rem;
  background: linear-gradient(45deg, #134e5e, #71b280);
}
.title {
  margin: 1rem;
  font-size: 3rem;
}
.subtitle {
  margin: 1rem;
  font-size: 2rem;
  font-weight: 400;
}
.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1rem 1rem;
}
.productCard {
  min-width: 150px;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: 2px solid #fff;
  min-height: 10rem;
  h2 {
    margin: 0;
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  // 패드
  .gridContainer {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem 5rem;
  }
}

@media only screen and (min-width: 1024px) {
  // PC
  .gridContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 1rem 10rem;
  }
}
